# Copyright (c) 2024, Tin Chiang.
# SPDX-License-Identifier: Apache-2.0

config NAU7802_LOADCELL
	bool "NAU7802 24-Bit Dual-Channel ADC with Loadcell"
	default y
	depends on DT_HAS_ZEPHYR_NAU7802_LOADCELL_ENABLED
    select I2C
	help
	  Enable driver for NAU7802 24-Bit Dual-Channel ADC For loadcell.
	  Noted: NAU7802 can be used with multiple bridge sensor, but this driver is specifically designed for loadcell

