# Copyright (c) 2024, Tin Chiang.
# SPDX-License-Identifier: Apache-2.0

menuconfig NAU7802_LOADCELL
	bool "NAU7802 24-Bit Dual-Channel ADC with Loadcell"
	default y
	# depends on DT_HAS_ZEPHYR_NAU7802_LOADCELL_ENABLED
    select I2C
	help
	  Enable driver for NAU7802 24-Bit Dual-Channel ADC For loadcell.
	  Noted: NAU7802 can be used with multiple bridge sensor, but this driver is specifically designed for loadcell
if NAU7802_LOADCELL

choice NAU7802_LOADCELL_TRIGGER_MODE
	prompt "Trigger mode"
	default NAU7802_LOADCELL_TRIGGER_GLOBAL_THREAD
	help
	  Specify the type of triggering to be used by the driver.

config NAU7802_LOADCELL_TRIGGER_NONE
	bool "No trigger"

config NAU7802_LOADCELL_TRIGGER_GLOBAL_THREAD
	bool "Use global thread"
	select NAU7802_LOADCELL_TRIGGER

config NAU7802_LOADCELL_TRIGGER_OWN_THREAD
	bool "Use own thread"
	select NAU7802_LOADCELL_TRIGGER

config NAU7802_LOADCELL_TRIGGER_DIRECT
	bool "Use IRQ handler"
	select NAU7802_LOADCELL_TRIGGER
endchoice

config NAU7802_LOADCELL_TRIGGER
	bool
# if NAU7802_LOADCELL_TRIGGER

config NAU7802_LOADCELL_THREAD_PRIORITY
	int "Own thread priority"
	depends on NAU7802_LOADCELL_TRIGGER_OWN_THREAD
	default 10
	help
	  Priority of the thread used by the driver to handle interrupts.

config NAU7802_LOADCELL_THREAD_STACK_SIZE
	int "Own thread stack size"
	depends on NAU7802_LOADCELL_TRIGGER_OWN_THREAD
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

# endif #NAU7802_LOADCELL_TRIGGER
endif #NAU7802_LOADCELL
